* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Playball', cursive; */
  font-family: 'Redressed', cursive;
  font-size: 18px;
}

/* <tag> */
footer {
  background-color: rgb(50, 167, 145);
  padding: 15px;
  margin-top: 15px;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  align-items: center;
  position: fixed;
  bottom: 0;
}

main {
  justify-content: space-between;
}

body {
  background-color: rgb(212, 212, 212);
  min-height: 100%;
}

/* .class */

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  padding: 5px 10px;
  align-items: center;
}

.trybewarts-header-logo {
  width: 70px;
}

.login {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  align-self: center;
  margin-right: 10px;
}

.form {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  align-self: center;
  margin-right: 10px;
  font-size: 18px;
}

.margin-form {
  margin-right: 45px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.checkboxes {
  float: right;
}

.radio-family {
  width: 30%;
}

.borda {
  border: 1px solid black;
}

.margin-top {
  margin-top: 10px;
}

.center {
  text-align: center;
}

/* #id */

#trybewarts-header-title {
  display: flex;
  color: white;
  align-self: center;
  font-size: 65px;
}

#login {
  width: 70px;
  height: 25px;
  border-radius: 5px;
  align-self: center;
  background: rgb(81, 27, 151);
  color: white;
}

#login:hover {
  background: rgb(27, 17, 161);
  cursor: pointer;
}

#submit-btn {
  width: 600px;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
}

#trybewarts-forms-logo {
  max-width: 38%;
  height: auto;
  float: right;
  margin-right: 50px;
}

#body {
  display: inline-block;
}

#form1 {
  display: inline-block;
  justify-content: space-between;
}

#coment-area {
  width: 600px;
}

#text-area {
  height: 125px;
  width: 600px;
}

#check1 {
    display: inline-block;
    padding: 1vw 0vw 1vw 0vw;
  }

#check2 {
  display: inline-block;
  margin-right: 0vw;
  margin-left: 15px;
  padding: 1vw 0vw 1vw 0vw;
  float:right;
}

#check {
  display: inline-block;
}