* {
  padding: 0;
  margin: 0;
}

/* <tag> */
footer {
  background-color: rgb(50, 167, 145);
  padding: 15px;
  margin-top: 15px;
  text-align: center;
}

/* .class */
.trybewarts-header-logo {
  width: 70px;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-family {
  display: flex;
  flex-direction: column;
}

.checkboxes {
  display: flex;
  flex-direction: column;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}


#evaluation-form .especial {
  width: 125px;
  float: left;
}

.trybewarts-login {
  display: flex;
}

/* #id */
#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  border: 1px solid black;

}

#main {
  display: flex;
}

#trybewarts-header-title {
  display: flex;
  align-self: center;
}

#trybewarts-forms-logo {
  height: 500px;
  border: 1px solid black;
  float: right;
}
